body {
	font-family: var(--font-primary);
	color: var(--color-text);
	font-size: 1.6rem;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
button,
input,
textarea {
	font-style: normal;
}

span {
	font-size: inherit;
	color: inherit;
}

a,
button {
	touch-action: manipulation;
}
